<ion-content>

  <form (ngSubmit)="onSubmit(data.value)" #data="ngForm">
    <ion-list>
      <h1>Para comenzar ingresa tu correo electrónico</h1>
      <ion-item>
        <ion-input type="email" expand="full" ngModel name="correo" placeholder="Ingresa tu correo"></ion-input>
      </ion-item>

      <ion-button expand="full" size="large" color="success" type="submit">
        Siguiente
      </ion-button>
    </ion-list>
  </form>

  <div class="loading" *ngIf="loading">
    <img src="../../assets/icon/loading.gif" /> 
  </div>

  <div class="result" *ngIf="result">
    <h1>El correo esta o no en uso</h1>
  </div>

</ion-content>
