<ion-header >
    <ion-toolbar color ="tertiary">
      <ion-title style="text-align:center">
        ¡BIENVENIDO ADMINISTRADOR! 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
    
    <img class=icon src="assets/icon/LibraryManager.jpeg" alt="center">
    <h1 style="text-align:center" size ="small" >
      ¿Qué deseas hacer?
    </h1>
    <ion-button expand="full" size="large" color="warning" routerLink="/update-biblioteca">
      <ion-icon name="business-outline"></ion-icon>
      ACTUALIZAR DATOS BIBLIOTECA</ion-button>
    <ion-button expand="full" size="large" color="warning" routerLink="/update-admin">
      <ion-icon name="arrow-up-outline"></ion-icon>
      ACTUALIZAR DATOS</ion-button>
      <h2 style="text-align:center">LIBRARY MANAGER 2020</h2>
    
  </ion-content>