<ion-header >
  <ion-toolbar color ="primary">
    <ion-title style="text-align:center">
      ¡BIENVENIDO LECTOR! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <img class=icon src="assets/icon/LibraryManager.jpeg" alt="center">
  <h1 style="text-align:center" size ="small" >
    ¿Qué deseas hacer?
  </h1>
  <ion-button expand="full" size="large" color="success" routerLink="/show-books">
    <ion-icon name="cloudy-outline"></ion-icon>
    VER LIBROS DISPONIBLES </ion-button>
  <ion-button expand="full" size="large" color="success" routerLink="/prestamo">
    <ion-icon name="book-outline"></ion-icon>
    SOLICITAR UN LIBRO</ion-button>
  <ion-button expand="full" size="large" color="success" routerLink="/ver-prestamos">
  <ion-icon name="calendar-outline"></ion-icon>
      VER PRESTAMOS </ion-button>
  <ion-button expand="full" size="large" color="success" routerLink="/devolucion">
    <ion-icon name="build-outline" ></ion-icon>
    DEVOLVER UN LIBRO</ion-button>
  <ion-button expand="full" size="large" color="success" routerLink="/update-admin">
    <ion-icon name="arrow-up-outline"></ion-icon>
    ACTUALIZAR DATOS</ion-button>
    <h2 style="text-align:center">LIBRARY MANAGER 2020</h2>
</ion-content>
