<ion-header >
  <ion-toolbar color ="danger">
    <ion-title style="text-align:center">
      ¡BIENVENIDO BIBLIOTECARIO! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <img class=icon src="assets/icon/LibraryManager.jpeg" alt="center">
  <h1 style="text-align:center" size ="small" >
    ¿Qué deseas hacer?
  </h1>
  <ion-button expand="full" size="large" color="secondary" routerLink="/nuevo-libro">
    <ion-icon name="cart-outline"></ion-icon>
    REGISTRAR UN NUEVO LIBRO</ion-button>
    <ion-button expand="full" size="large" color="secondary" routerLink="/show-books">
      <ion-icon name="book-outline"></ion-icon>
      VER LIBROS </ion-button>
  <ion-button expand="full" size="large" color="secondary" routerLink="/deletebook">
    <ion-icon name="build-outline"></ion-icon>
    ELIMINAR UN LIBRO DEL INVENTARIO</ion-button>
  <ion-button expand="full" size="large" color="secondary" routerLink="/update-admin">
    <ion-icon name="arrow-up-outline"></ion-icon>
    ACTUALIZAR DATOS</ion-button>
  
    <h2 style="text-align:center">LIBRARY MANAGER 2020</h2>
  
</ion-content>