<ion-header>
  <ion-toolbar color="success">
    <ion-title style="text-align:center">¡BIENVENIDO!</ion-title>
    <ion-title style="text-align:center">VAMOS A REALIZAR</ion-title>
    <ion-title style="text-align:center">LA CONFIGURACIÓN INICIAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class=icon src="assets/icon/LibraryManager.jpeg" alt="center">

  <form (ngSubmit)="onSubmit(asd.value)" #asd="ngForm">
    <ion-item>
      <ion-label position="floating">Digita el nombre de tu biblioteca</ion-label>
      <ion-input  type="text" ngModel name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Digita la cantidad de libros a prestar</ion-label>
      <ion-input  type="number" ngModel name="cantidadLibros"></ion-input>
    </ion-item>
    <ion-button expand="full" size="large"  color="success" routerLink="/tab1" type="submit">
      CONTINUAR
    </ion-button>
  </form>

</ion-content>
