<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LibraryManager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button size="full" (click)="sendRequest()">OK</ion-button>
  <img class=icon src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" alt="center">
  

  <ion-item color="success">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" expand="full" [(ngModel)]="nombre" name="Nombre">{{something?.Nombre}}</ion-input>
  </ion-item>
  <h1></h1>

  <ion-item color="success">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" expand="full" [(ngModel)]="apellido" name="Apellido">{{something?.Apellido}}</ion-input>
  </ion-item>
  <h1></h1>

  <ion-item color="success">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" expand="full" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <h1></h1>

  <ion-item color="success">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input  type="password" [(ngModel)]="password" name="password">{{something?.Password}}</ion-input>
  </ion-item>
  <h1></h1>

  <ion-item color="success">
    <ion-label position="floating">Edad</ion-label>
    <ion-input  type="number" [(ngModel)]="edad" name="number">{{something?.number}}</ion-input>
  </ion-item>
  <h1></h1>
</ion-content >