*{
  font-weight:300;
}

ion-content {

  --background: #f06158;
}

ion-text {

  position: absolute;
  top: 25%;
  
  h1{

    font-size:42px;
    font-style: italic;
    color : #ffffff;
  }

  p{
    font-size:20px;
    color : #ffffff;
    font-style : italic;
  }
}

.actions {
  position: absolute;
  width:90%;
  bottom : 16px;
}

ion-button {
--border-radius: 20px;
--box-shadow: none;
text-transform: initial;
font-size: 20px;
}

.users-buttons{
  display:flex;
  justify-content: space-between;

  ion-button {
     width: 50%;
     --background :#ffffff;
     --color:#3b3b3b;
     --border-style:solid;
     --border-color:#eeeeee;
  }

  
}

.separator {
  display:flex;
  justify-content: center;
  margin: 8px auto 10px;
  font-size: 18px;
  position: relative;
  color:#ffffff;

  .line {
    position: absolute;
    border-top: 1px solid #dfdfdf;
    width: 50px;
    height: 2px;
    top: 8px;
  }

  .right
  {
    right: 98px;
  }
  .left
  {
    left:98px ;
  }
}
