# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\David\Desktop\Developers Developers\NetBeansProjects\test111\.idea/dataSources/
/dataSources.local.xml
